body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px;
}

#pixelCanvas {
    margin-top: 20px;
}

#Instructions {
    padding: 20px;
    margin-bottom: 20px; /* Adds 20px of space below the welcome message */
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px purple;
    font-family: cursive;
    font-size: x-large;
}

#colorPicker {
    padding: 10px;
    margin-bottom: 20px;

}

.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #7f6363;
    padding: 20px;
}

#clearGrid{
    padding: 12px;
}

#cleanGrid{
    padding: 12px;
}



#pixelCanvas {
    padding: 5px;
    margin-bottom: 20px;
}